<div ng-controller="details" ng-cloak>

<md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Message ID</span>
            <span class="md-subhead"> {{temp.id}}</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media">This message is fetched from inbox.json: {{temp.message}}</div>
          </md-card-title-media>
        </md-card-title>
       
      </md-card>
	
	<div> 
		
	</div>

</div>